<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>

        body{
            height: 100vh;
            width: 100vh;
            background-color: #ddd;
            margin:0;
            padding:0;
        }
        .container{
             width: 100%;
             max-width: 600px;
             overflow: hidden;
             flex-direction: column;
             align-items: start;
        }
        .code{
            text-align: center;
            font-size: 1.8rem;
            color: #000;
        }

    </style>


  <div class="container">

    <h4 class="">Bienvenue sur notre plateforme <%=name %></h4>
    <span class="code"><%=code %></span>
  <span>Vous pouvez reinitialiser votre mot de passe en cliquant sur le lien suivant :</span><br>
  <a target="_blank" href="http://localhost:3000/api/v1/auth/reset-password?token=<%= activationLink %>">Activer mon compte</a>
</p>

<p><%=activationLink %></p>

    <span></span>

  </div>  

    
</body>
</html>